* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(225deg, #fdc5c5 25.45%, rgba(242, 152, 222, 0) 100%),
    linear-gradient(225deg, #ffa5a5 33.09%, rgba(255, 255, 255, 0) 82.34%), #f39494;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 582px;
  border-radius: 10px;
  padding: 72px 94px 91px;
  background-color: #fffefe;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  /* flex */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 22px 1px;
}

h1 {
  color: #333;
  font-size: 36px;
  line-height: 54px;
  margin: 0;
}

p {
  color: #666;
  font-size: 18px;
  margin: 0;
}

a {
  color: #089fe0;
  font-size: 14px;
  text-decoration: none;
}

label {
  color: #666;
  font-size: 14px;
}

span {
  font-size: 14px;
}

input {
  color: #999;
  background-color: #f5f5f5;
  font-size: 16px;
  font-style: italic;
  border: 0;
  border-radius: 5px;
  width: 100%;
  line-height: 26px;
  border: 1px solid #f5f5f5;
  padding: 9px 35px 9px 11px;
}

button {
  padding: 9px 12px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  background: url('../images/arrow.svg') no-repeat right 24px center #089fe0;
}

input:focus {
  background-color: #fff;
  color: #333;
  font-style: normal;
  font-weight: 600;
}

.policy {
  align-self: flex-start;
  position: relative;
}

.policy input {
  width: auto;
}

.field {
  display: flex;
  gap: 1px;
}

.field input:first-child {
  border-radius: 5px 0 0 5px;
}

.field input:last-child {
  border-radius: 0 5px 5px 0;
}

.title {
  margin-bottom: 25px;
}

.title a {
  font-size: 18px;
  text-decoration: underline;
}

input[type='checkbox'] {
  opacity: 0;
}

input[type='checkbox']:checked+label[for='checkbox']::before {
  background-color: #089fe0;
  content: '✖';
  padding: 0 3px;
  color: white;
}

label[for='checkbox']::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 2px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  background-color: #f5f5f5;
  font-size: 11px;
}